<div class="mb-2">
  <label [for]="label" class="form-label">{{ label }}</label>
  <input
    [type]="type"
    [formControl]="textControl"
    class="form-control"
    [readonly]="disabled"
    [disabled]="disabled"
    (blur)="onTouched()"
    [id]="label"
    [ngClass]="{ 'disabled-input': disabled }"
  />
  <div *ngIf="textControl.touched && textControl.invalid">
    <span class="error-msg" *ngIf="textControl.getError('required')"
      >this field is required</span
    >
    <span
      class="error-msg"
      *ngIf="!textControl.getError('required') && textControl.getError('email')"
      >invalid email</span
    >
  </div>
</div>
