<div class="m-4" *ngIf="data$ | async as data">
  <div class="row">
    <div class="col-md-8">
      <div class="d-flex align-items-baseline justify-content-between">
        <div class="">
          <h2 class="text-secondary m-0">User list</h2>
          <small class="d-block text-success"
            >please click on rows to fetch user data...</small
          >
        </div>

        <pagination
          [pagination]="data.pagination"
          (onChangePage)="changePage($event)"
        />
      </div>
      <app-table
        [data]="data.users"
        [columnsDef]="columnsDef"
        (onRowClick)="getUser($event)"
      />
    </div>
    <div class="col mt-2">
      <user-details [user]="data.selectedUser" />
    </div>
  </div>
</div>
