<small class="text-secondary mx-3"
  >if you want to access users list without login remove the auth guard from
  routes in app routes</small
>
<div class="d-flex align-items-center justify-content-center mt-5 flex-column">
  <form [formGroup]="form" class="login">
    <h2>{{ authType === "login" ? "Login" : "Register" }}</h2>
    <text-input type="email" label="Email address" formControlName="email" />
    <text-input type="password" label="Password" formControlName="password" />
    <div class="d-flex align-items-center justify-content-between mt-4">
      <button type="button" class="btn btn-primary" (click)="save()">
        Submit
      </button>
      <button
        type="button"
        [routerLink]="authType === 'login' ? '/register' : '/login'"
        class="btn btn-link"
      >
        {{ authType === "login" ? "create new account?" : "go to login" }}
      </button>
    </div>
  </form>
</div>
