<div class="d-flex gap-2">
  <button class="btn action">
    <i class="bi bi-arrow-repeat text-primary"></i>
  </button>
  <button class="btn action">
    <i class="bi bi-plus-lg text-primary"></i>
  </button>
  <button class="btn action">
    <i class="bi bi-pen-fill text-primary"></i>
  </button>
  <button class="btn action">
    <i class="bi bi-trash-fill text-primary"></i>
  </button>
</div>

<form class="d-flex flex-column mt-3">
  <text-input type="text" label="Name" />
  <text-input type="text" label="Job" />
  <text-input type="email" label="Email Address" />

  <button class="btn btn-primary d-inline" style="width: fit-content">
    Save
  </button>
</form>
