<table class="table table-bordered">
  <thead>
    <tr>
      <th *ngFor="let col of columnsDef" scope="col" class="text-secondary">
        {{ col.name }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data">
      <td *ngFor="let col of columnsDef">
        <span *ngIf="col.type === 'text'">{{ item[col.key] }}</span>
        <img
          *ngIf="col.type === 'image'"
          [src]="item[col.key]"
          [alt]="col.key"
        />
      </td>
    </tr>
  </tbody>
</table>
