<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th *ngFor="let col of columnsDef" scope="col" class="text-secondary">
        {{ col.name }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data" (click)="onRowClick.emit(item[uniqueKey])">
      <td *ngFor="let col of columnsDef">
        <div class="mt-2" *ngIf="col.type === 'text'">{{ item[col.key] }}</div>
        <img
          *ngIf="col.type === 'image'"
          [src]="item[col.key]"
          [alt]="col.key"
        />
      </td>
    </tr>
  </tbody>
</table>
